<div class="fullHeight container-fluid">
    <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="assets/logo_beta.png" width="256" alt="Room It"/>
            </a>
        </div>
    </div>
    <div class="container main-page">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="jumbotron">
                            <h1>Find your Ideal Roommates & Rentals</h1>

                            <p class="sub-heading">Matching Roommates & Rentals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center row search-criteria" ng-controller="HomePageController">
            <form>
                <div class="form-group form-group-lg form-btn-group col-sm-3 col-sm-offset-1" dropdown>
                    <a href="#" class="btn btn-block btn-white dropdown-toggle btn-lg col-sm-12" dropdown-toggle>
                        <span class="dropdown-label">Look for Roommates</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu col-sm-12" role="menu">
                        <li><a href="#">Looking for Roommates</a></li>
                        <li><a href="#">Look for Rooms</a></li>
                    </ul>
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control has-feedback input-lg" id="location" placeholder="Location" g-places-autocomplete
                           options="autocompleteOptions" ng-model="place">
                    <i class="ion-location form-control-feedback"></i>
                </div>
                <div class="form-group col-sm-3">
                    <button class="btn btn-block btn-lg btn-facebook col-sm-3" ng-click="authenticate('facebook')">
                        Get Started
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>