<div class="container main-page">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1>Find your Ideal Rommmates & Rentals</h1>

                        <p class="sub-heading">Matching Roommates & Rentals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center row search-criteria" ng-controller="HomePageController">

        <div class="col-sm-12">
            <form class="form-inline">
                <div class="input-group input-group-lg margin-20">
                    <select name="lookingFor" id="lookingFor" class="form-control">
                        <option selected="selected">Look for Roommates</option>
                        <option>Look for Rooms</option>
                    </select>
                </div>
                <div class="input-group input-group-lg has-feedback margin-20">
                    <input type="text" class="form-control" id="location" placeholder="Location" g-places-autocomplete
                           options="autocompleteOptions" ng-model="place">
                    <i class="ion-location form-control-feedback"></i>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                        <!--<button type="submit" class="btn btn-default ">Search</button>-->
                        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
                            Get Started&nbsp;&nbsp;&nbsp;<i class="ion-social-facebook"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--<a class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub
            project</a>
        <a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report
            issue</a>-->
    </div>
</div>