<div class="container main-page">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <p class="sub-heading">Thank you for registering, you have caught us too early.
                            We will be launching our BETA soon and will inform you once we go live.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>