<div class="container-fluid fullHeight profile-page">
    <!-- Header -->

    <div id="header">
        <div class="logo">
            <a href="" ui-sref="home">
                <span class="fa fa-home marker"></span>
                <span class="logoText">Roomit</span>
            </a>
        </div>
        <div class="headerUserWraper" dropdown>
            <a href="#" class="userHandler dropdown-toggle" dropdown-toggle><span class="icon-user"></span><span class="counter">5</span></a>
            <a href="#" class="headerUser dropdown-toggle" dropdown-toggle>
                <img class="avatar headerAvatar pull-left" ng-src="{{'https://graph.facebook.com/'+user.facebook+'/picture'}}" alt="avatar">
                <div class="userTop pull-left">
                    <span class="headerUserName">{{user.displayName}}</span> <span class="fa fa-angle-down"></span>
                </div>
                <div class="clearfix"></div>
            </a>
            <div class="dropdown-menu pull-right userMenu" role="menu" >
                <div class="mobAvatar">
                    <img class="avatar mobAvatarImg" ng-src="{{'https://graph.facebook.com/'+user.facebook+'/picture'}}" alt="avatar">
                    <div class="mobAvatarName">{{user.displayName}}</div>
                </div>
                <ul>
                    <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
                    <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                    <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="onLogout()"><span class="icon-power"></span>Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>



    <div id="wrapper" class="full fullHeight">
        <div id="content" class="max fullHeight">
            <div class="tables">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading green"><h2>Your Details</h2></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-model="user.displayName" class="form-control" placeholder="Readonly input" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Age Group</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.ageGroup}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in ageOptions"><a href="#" ng-click="onAgeSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Gender</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.gender}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in genderOptions"><a href="#" ng-click="onGenderSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Occupation</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.occupation}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in occupationOptions"><a href="#" ng-click="onOccupationSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Preferred Location</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.locationPreference}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in locationPreferenceOptions"><a href="#" ng-click="onPrefLocSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Do you smoke ? </label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.smoker}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in yesNoOptions"><a href="#" ng-click="onSmokePref(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Do you have pets ? </label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.hasPets}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in yesNoOptions"><a href="#" ng-click="onPetsPref(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Diet</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.diet}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in dietOptions"><a href="#" ng-click="onDietSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Cleanliness</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.cleanliness}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in cleanOptions"><a href="#" ng-click="onCleanSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Socialising</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.social}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in socialOptions"><a href="#" ng-click="onSocialSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ethnicity</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.ethnicity}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in ethnicityOptions"><a href="#" ng-click="onEthnicitySelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onEthnicitySelect('Dont want to disclose')">Dont want to disclose</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading green"><h2>Your Ideal Flatmates Details</h2></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Age Group</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateAgeGroup}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in ageOptions"><a href="#" ng-click="onFlatMateAgeSelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateAgeSelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Gender</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateGender}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in genderOptions"><a href="#" ng-click="onFlatMateGenderSelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateGenderSelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Occupation</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateOccupation}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in occupationOptions"><a href="#" ng-click="onFlatMateOccupationSelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateOccupationSelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Smoker ?</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateSmoker}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in yesNoOptions"><a href="#" ng-click="onFlatMateSmokePref(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateSmokePref('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Pets ? </label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateHasPets}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in yesNoOptions"><a href="#" ng-click="onFlatMatePetsPref(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMatePetsPref('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Diet</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateDiet}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in dietOptions"><a href="#" ng-click="onFlatMateDietSelect(option)">{{option}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Cleanliness</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateCleanliness}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in cleanOptions"><a href="#" ng-click="onFlatMateCleanSelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateCleanSelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Socialising</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateSocial}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in socialOptions"><a href="#" ng-click="onFlatMateSocialSelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateSocialSelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ethnicity</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-o btn-gray dropdown-toggle" dropdown-toggle>
                                                    <span class="dropdown-selected-text">{{user.flatMateEthnicity}}</span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-repeat="option in ethnicityOptions"><a href="#" ng-click="onFlatMateEthnicitySelect(option)">{{option}}</a></li>
                                                    <li><a href="#" ng-click="onFlatMateEthnicitySelect('No Preference')">No Preference</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="btn-group col-sm-3">
                                                <button type="button" class="btn btn-green btn-block" ng-click="updateProfile()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
