html {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background: #e4e7ec;
    height: 100%;
}

.fullHeight{
    height: 100%;
}

.home-page{
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


button.btn.btn-block.btn-facebook {
    padding: 1px 10px;
    font-size: 25px;
    background-color: #FF4600;
    border-radius: 5px;
    /* baseline-shift: super; */
    border: solid 1px;
    height: 46px;
    box-sizing: border-box;
}


.home-page .navbar-default {
    background: transparent;
    border: none;
}


.main-page .panel{
    background-color: transparent;
    margin-top : 10em;
}

.search-criteria{
    color : #aaa;
}

.search-criteria input[placeholder]{
    color: #aaa !important;
}

.search-criteria .btn-default{
    color: #aaa;
    border-radius: 5px;
    width : 10em;
}



/*.input-group-btn:last-child>.btn {
    border-radius: 5px;
    border: none;
    font-size : 25px;
    padding : 10px 5px;
}*/

.btn-facebook .ion-social-facebook{
    font-size: 35px;
    color: #fff;

    background-color: #3b5998;
    padding: 0px 15px;
}

.search-criteria .form-control-feedback{
    top: 0px;
    right: 10px;
}



.jumbotron h1{
    font-size: 44px;
}

.jumbotron .sub-heading{
    font-size: 23px;
}

.home-page .panel-default{
    border: none;
    box-shadow: none;
}

.container .jumbotron{
    background-color: transparent;
    color: #ddd;
}

.home-page .form-btn-group {
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 765px) {
    body{
        /* background-repeat: inherit; */
    
        /* background-position: initial; */
        /* background-clip: padding-box; */
        /* background-origin: padding-box; */
        background-size: inherit;
    }

    .home-page .form-btn-group{
        padding-right: 10px;
        padding-left: 10px;
    }
    .home-page .form-btn-group ul.dropdown-menu {
        width: 97%;
        width: calc(100% - 20px);
        left: 10px;
    }

}


.home-page .form-group .btn.dropdown-toggle {
    height: 46px;
    padding: 1em 1.1em;
    font-size: 1.0em;
    border-radius: 0;
}

.home-page .form-group span.dropdown-label {
    padding-right: 0px;
}



.home-page .dropdown-menu > li > a {
    font-size: 1em;
    height: 46px;
    line-height: 46px;
    padding: 3px 18px;
}

.btn-lg .caret {
    position: absolute;
    right: 10px;
    top: 19px;
}

#content.fullHeight{
    height: 100%;
    padding-bottom: 100px;
}

#leftSide.fullHeight {
    height: 94%;
    height: calc(100% - 60px);
}
